@model ProvaPratica.Models.Usuario

@{
    ViewData["Title"] = "l";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mb-4">Acesse sua conta</h3>
                    
                    <form asp-action="FreteLogin" method="post">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input asp-for="Senha" class="form-control" type="password" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
