@model ProvaPratica.Models.Veiculo

@{
    ViewData["Title"] = "Criar Veículo";
}

<h2>Criar Veículo</h2>

<form asp-action="Criar" method="post">
    <div class="form-group">
        <label>Tipo de Veículo</label>
        <input type="text" name="TipoVeiculo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Peso</label>
        <input type="number" name="Peso" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Voltar</a>
</form>
