@{
    ViewData["Title"] = "Página Inicial - Empresa de Frete";
    
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bem-vindo à Udi frete</h1>
        <p class="lead">Conectando empresas e transportadoras para um transporte rápido e seguro.</p>
        <hr class="my-4">
        <p>Para continuar, faça login em sua conta.</p>
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-md-6 text-center">
            
            @* <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Usuario" asp-action="Criar" role="button">Criar</a> *@

            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Usuario" asp-action="Login" role="button">Logar</a>
        </div>
    </div>
</div>
